{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "mixpanel": false,
    "gtag": false
  },
  "plugins": ["react", "prettier"],
  "settings": {
    "import/resolver": "webpack"
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "endOfLine": "auto"
      }
    ],
    "import/no-dynamic-require": 0,
    "import/prefer-default-export": 0,
    "import/no-cycle": 0,
    "no-underscore-dangle": 0,
    "import/extensions": 0,
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-named-as-default": 0,
    "no-confusing-arrow": 0,
    "no-use-before-define": 0,
    "no-param-reassign": 0,
    "no-unused-expressions": 0,
    "no-plusplus": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "global-require": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/label-has-for": 0,
    "react/no-array-index-key" : 0,
    "react/no-did-update-set-state":0,
    "class-methods-use-this": 0
  }
}
